#root {
  width: 100%;
  margin: 0;
  padding: 2rem 1.2rem 0rem 1.2rem;
  text-align: start;
}

.nav-discord {
  display: flex;
  justify-content: space-between;
}
.nav-discord img {
  height: 1.4em;
}
