.container {
  min-height: 87vh;
  position: relative;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
  color: whitesmoke;
  width: 55%;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: clamp(1rem, 1.2rem, 1.8rem);
  font-style: normal;
  color: whitesmoke;
  width: 55%;
}

button {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.button-mac,
.button-browser {
  border-radius: 24px;
  text-align: center;
  padding: 13px 25px;
}

.button-browser {
  margin-top: 20px;
  background-color: #232729;
  color: whitesmoke;
  margin-bottom: 0px;
}

.img-background {
  position: absolute;
  right: 0;
  bottom: 0;
  width: clamp(300px, 600px, 800px);
}
